
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  background: #0A021D !important;
}

a {
  text-decoration: none !important;
  font-size: 18px;
  font-weight: 600;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 28px;
}

section {
  padding-top: 50px;
}